@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
	font-family: 'roboto';
	font-size: 16px;
}

.navbar{background-color: black}

.navbar li a{color: black}

.card ul li{list-style-type: none}

.shopping-mall{
	position: absolute;
	font-variant: small-caps;
}

.shopping-mall>h1{
	font-family: Impact;
	color: white;
	letter-spacing: 0.3px;
	text-shadow: 0 0 2px black;
	padding-bottom: 0px;
	border-bottom: 1px dotted gray;
	margin: 0px;
}

.shopping-mall>h5{
	margin-top: 5px;
	font-size: 15px;
}

.containerr {
 	width: 1000px;
	margin: 0 auto;
}

.topweb{
	height: 30px;
	border: 1px solid #BFBFBF;
}

.bg-menunho{
	height: 25px;
	background-color: #04a59d;
	line-height: 25px;
}

.bg-menunho a{
	color: #FFFFFF;
}

#main_menu a{
	color: black;
}

.bg-thanhmenu{
	background-color: #44CF60;
}

.bg-muangay{
	background-color: #5DDF76;
}

.bg-khuyenmaisoc{
	height: 50px;
	background-color: #44CF60;
	line-height: 50px;
	border-radius: 10px;
}

.bg-bogoctimkiem{
	height: 30px;
	border-radius: 5px;
}

.bg-khungnoibat{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	line-height: 50px;
}

.timkiem input:first-child{
	padding: 0px 20px;
	width: 380px;
	height: 40px;
	border: 2px solid #29a040;
	background-color: transparent;
	color: black;
	float: left;
}

.timkiem input:last-child{
	width: 40px;
	height: 40px;
	border: none;
	background-color: #29a040;
	background-image: url(images/kinhlup.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 3000px;
	float: left;
}

.lienhe a{
	text-decoration: none;
	color: blue;
	opacity: 1;
	font-size: 17px;
	line-height: 28px;
	float: left;
}

.img {
	transition: all 0.5s ease;
	webkit-transition: all 0.5s ease;
	moz-transition: all 0.5s ease;
	o-transition: all 0.5s ease;
}
 
.img:hover {
	transform: scale(1.1,1.1);
	webkit-transform: scale(1.1,1.1);
	moz-transform: scale(1.1,1.1);
	o-transform: scale(1.1,1.1);
	ms-transform: scale(1.1,1.1);
}

.header-icons-noti {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #111111;
  color: white;
  font-family: Montserrat-Medium;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -10px;
}

.nav .doxuong{
	z-index: 2;
}
.bidelen{
	z-index: 1;
}

