@charset "utf-8";
/* CSS Document */



.header-top{
	width: 1200px;
	height: 121px;
	background-color: while;
	margin: 0 auto;
}
.logoweb-top{
	width: 350px;
	height: 121px;
	float: left;
	background-color: white;
}


.khungtimkiem{
	width: 676px;
	height: 121px;
	float: left;
	background-color: white;
}
.timkiem input:first-child{
	padding: 0px 20px;
	width: 500px;
	height: 45px;
	border: 2px solid #29a040;
	background-color: transparent;
	color: black;
	margin-top: 20px;
	margin-left: 40px;
}

.timkiem input:last-child{
	width: 45px;
	height: 45px;
	border: none;
	background-color: #29a040;
	background-image: url(images/kinhlup.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 3000px;
}
.goiytukhoa{
	width: 676px;
	height: 30px;
	padding-left: 40px;
	margin-top: 5px;
}



.giohang-taikhoan{
	width: 174px;
	height: 121px;
	background-color: white;
	float: right;
}
.giohang{
	width: 87px;
	height: 121px;
	float: left;
	padding-top: 15px;
}
.giohang a{
	margin-left: 22px;
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	margin-top: 10px;
	float: left;
	opacity: 0.6;/* Độ trong suốt 70% */
	color: black;
}

/* a:hover viết liền là khi rê chuột qua thẻ a của social */
.giohang a:hover{
	opacity: 1;
}

.taikhoan{
	width: 87px;
	height: 121px;
	float: right;
	padding-top: 15px;
}
.taikhoan a{
	margin-left: 20px;
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	margin-top: 15px;
	float: left;
	opacity: 0.6;/* Độ trong suốt 50% */
	color: black;
	text-align: center;
}

/* a:hover viết liền là khi rê chuột qua thẻ a của social */
.taikhoan a:hover{
	opacity: 1;
}
.chutaikhoan{
	padding-top: 5px;
}


.thanhmenu{
	width: 100%;
	height: 50px;
	background-color: #38b551;
	margin-bottom: 15px;
	margin-top: 5px;
}

.thanhmenu nav{ /* nav trong thanhmenu */
	width: 1200px;
	margin: 0 auto;
}

.thanhmenu a{
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	color: white;
}

.thanhmenu li{
	float: left;
	list-style: none; /* bỏ dấu chấm */
	padding: 0px 20px;
	line-height: 50px; /* căn giữa chữ */
	height: 50px;
}

.thanhmenu a:hover{
	color: white;	
}

.thanhmenu active, .thanhmenu li:hover{
	background: linear-gradient(#0c6137, #0c6138);
}



.slider{
	width: 1200px;
	height: 395px;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 20px;
}



#web-mid{
	width: 1200px;
	height: 1379px;
	margin: 0 auto;
	background-color: white;
}
.dmsp{
	width: 1200px;
	height: 386px;
}
.danhmucsanpham{
	width: 350px;
	height: 386px;
	float: left;
}
.title{
	width: 350px;
	height: 50px;
	background-color: #38b551;
}
.hinh-dmsp{
	width: 50px;
	height: 50px;
	float: left;
}
.chu-dmsp{
	width: 300px;
	height: 50px;
	background-color: #38b551;
	font-weight: normal; /* Không in đậm */
	text-transform: uppercase; /* Chuyển sang chữ hoa */
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: white;
	float: left;
}
.item-content{
	width: 350px;
	height: 336px;
	float: left;
	background-color: white;
}
.laptop, .dienthoai, .mayanh, .phukien, .thoitrang, .mevabe, .khuyenmai{
	width: 348px;
	height: 36px;
	border: 1px solid #bbbbbb;
	margin-top: 10px;
	line-height: 36px;
}

.laptop a, .dienthoai a, .mayanh a, .phukien a, .thoitrang a, .mevabe a, .khuyenmai a{
	padding-left: 7px;
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	color: black;
}
.laptop a:hover, .dienthoai a:hover, .mayanh a:hover, .phukien a:hover, .thoitrang a:hover, .mevabe a:hover, .khuyenmai a:hover{
	color: #38b551;
}

.laptop img, .dienthoai img, .mayanh img, .phukien img, .thoitrang img, .mevabe img, .khuyenmai img{
	margin-left: 10px;
	margin-top: 8px;
	float: left;
}


.flashsale{
	width: 813px;
	height: 386px;
	background-color: white;
	float: left;
	margin-left: 37px;
}
.chu-flashsale{
	width: 813px;
	height: 56px;
	background-color: white;
	float: left;
	font-size: 28px;
	color: #247735;
}
.khung-flashsale{
	width: 813px;
	height: 330px;
	background-color: black;
	float: left;
}
.khung-flashsale1{
	width: 269px;
	height: 328px;
	background-color: #eeeeee;
	float: left;
	border: 1px solid #bbbbbb;
}
.hinh-khung-fs1{
	width: 269px;
	height: 260px;
	background-color: #eeeeee;
	float: left;
}
.hinh-khung-fs1 a:hover, .chu-khung-fs1 a:hover{
	opacity: 0.8;
}
.chu-khung-fs1{
	width: 269px;
	height: 68px;
	float: left;
}
.chu-khung-fs1 a{
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	color: black;
	font-size: 16px;
	padding-left: 12px;
	line-height: 30px;
}
.chu-khung-fs1 font{
	padding-left: 12px;
}




.spnoibat{
	width: 1200px;
	height: 451px;
	background-color: white;
	float: left;
	margin-top: 30px;
}
.chu-spnoibat{
	width: 1200px;
	height: 54px;
	background-color: white;
	color: #247735;
	font-size: 28px;
}
.khung-spnoibat1{
	width: 269px;
	height: 328px;
	margin-right: 38px;
	background-color: #eeeeee;
	float: left;
	border: 1px solid #bbbbbb;
}
.khung-spnoibat2{
	width: 269px;
	height: 328px;
	margin-left: 2px;
	background-color: #eeeeee;
	float: left;
	border: 1px solid #bbbbbb;
}
.xemthem{
	width: 1200px;
	height: 50px;
	margin-top: 20px;
	background-color: #eeeeee;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 1px solid #bbbbbb;
}
.xemthem a{
	text-decoration: none; /* Bỏ gạch chân của thẻ a */
	color: black;
	opacity: 0.7;
}
.xemthem a:hover{
	opacity: 1;
	color: #38b551;
}



.spbanchay{
	width: 1200px;
	height: 451px;
	background-color: white;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}
.chu-spbanchay{
	width: 1200px;
	height: 54px;
	background-color: white;
}
.khung-spnoibat1{
	width: 269px;
	height: 328px;
	margin-right: 38px;
	background-color: #eeeeee;
	float: left;
	border: 1px solid #bbbbbb;
}
.khung-spnoibat2{
	width: 269px;
	height: 328px;
	margin-left: 2px;
	background-color: #eeeeee;
	float: left;
	border: 1px solid #bbbbbb;
}



.khunggachngang{
	width: 100%;
	height: 10px;
	background-color: #38b551;
	float: left;
	margin-bottom: 25px;
}




#web-bot{
	width: 1200px;
	height: 605px;
	background-color: white;
	margin: 0 auto;
	margin-top: 27px;
}
.thongtinweb{
	width: 1200px;
	height: 281px;
	background-color: white;
	float: left;
}
.thongtinweb1{
	width: 300px;
	height: 281px;
	background-color: white;
	float: left;
	font-size: 20px;
}
.thongtinweb1 a{
	text-decoration: none;
	color: black;
	opacity: 0.7;
	font-size: 17px;
	line-height: 37px;
	float: left;
	padding-top: 3px;
}
.thongtinweb1 img{
	padding-top: 15px;
}

.fb{
	width: 300px;
	height: 35px;
	float: left;
	margin-bottom: 25px;
}
.hinh-fb{
	width: 35px;
	height: 35px;
	float: left;
}
.chu-fb{
	width: 253px;
	height: 35px;
	float: left;
	padding-top: 10px;
	padding-left: 12px;
	opacity: 0.7;
}
.chu-fb a:hover{
	opacity: 1;
}


.duonggachngang{
	width: 1200px;
	height: 1px;
	background-color: #cccccc;
	margin-top: 20px;
	float: left;
}


.logoweb{
	width: 1200px;
	height: 108px;
	background-color: white;
	
}
.logoweb-bot{
	width: 350px;
	height: 108px;
	background-color: white;
	float: left;
	margin-top: 17px;
}
.quyen{
	width: 750px;
	height: 108px;
	background-color: white;
	line-height: 108px;
	color: #505050;
	float: left;
	margin-top: 17px;
	padding-left: 100px;
}

.duonggachngang{
	width: 1200px;
	height: 1px;
	background-color: #cccccc;
	margin-top: 20px;
	float: left;
}


.diachi-bot{
	width: 1200px;
	height: 106px;
	background-color: white;
	float: left;
	margin-top: 21px;
}
.logo-bct{
	width: 350px;
	height: 106px;
	background-color: white;
	float: left;
	line-height: 35px;
}
.diachi-bott{
	width: 750px;
	height: 106px;
	background-color: white;
	padding-left: 100px;
	float: left;
	color: #505050;
	line-height: 26px;
}
.develop{
	width: 100%;
	height: 55px;
	background-color: #e5e5e5;
	text-align: center;
	line-height: 59px;
	color: #808080;
}









/* ------------------------------- Giới thiệu --------------------------------- */
#gioithieu-mid{
	width: 1200px;
	height: 1020px;
	margin: 0 auto;
	background-color: white;
}
.gioithieuchung{
	width: 1200px;
	height: 275px;
	margin: 0 auto;
	background-color: white;
}
.gioithieuchung1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.7;
	font-size: 20px;
}
.gioithieuchung2{
	width: 1200px;
	height: 230px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.6;
}


.thongtincoban{
	width: 1200px;
	height: 240px;
	margin: 0 auto;
	background-color: white;
}
.thongtincoban1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.7;
	font-size: 20px;
}
.thongtincoban2{
	width: 1200px;
	height: 190px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.6;
	line-height: 30px;
}
.thongtincoban2 a{
	text-decoration: none;
	color: brown;
}


.cocautochuc{
	width: 1200px;
	height: 490px;
	margin: 0 auto;
	background-color: white;
}
.cocautochuc1{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.6;
	line-height: 30px;
}
.cocautochuc2{
	width: 1200px;
	height: 240px;
	margin: 0 auto;
	opacity: 0.6;
	padding-top: 30px;
	background-color: white;
}
.cocautochuc3{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	opacity: 0.6;
}
.cocautochuc3 a{
	text-decoration: none;
	color: brown;
}









/* ------------------------------- Liên hệ --------------------------------- */
#lienhe-mid{
	width: 1200px;
	height: 700px;
	margin: 0 auto;
	background-color: white;
}
.bando{
	width: 500px;
	height: 450px;
	float: left;
	background-color: white;
	font-size: 25px;
}	
.chu-bando{
	width: 500px;
	height: 50px;
	opacity: 0.7;
}
.ph1{
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 10px;
	width: 500px;
 	height: 36px;
  	border: 1px solid #38b551;
}
.ph01{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 30px;
	width: 500px;
 	height: 36px;
  	border: 1px solid #38b551;
}
.ph2{
	margin-left: 30px;
	margin-top: 10px;
	width: 620px;
 	height: 200px;
  	border: 1px solid #38b551;
}
.sm2{
	border: none;
	color: #FFF;
	width: 110px;
	height: 35px;
	background-color: #38b551;
  	margin-top: 20px;
	margin-left: 30px;
}

.guilienhe p{
	margin-left: 30px;
	margin-bottom: -15px;
    margin-top: 5px;
}
.guilienhe{
	width: 690px;
	height: 670px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}










/* ------------------------------- Chi tiết sản phẩm --------------------------------- */
#chitiet-mid{
	width: 1200px;
	height: 2170px;
	margin: 0 auto;
	background-color: white;
}
.ctip{
	width: 1200px;
	height: 390px;
	background-color: white;
}
.ctip1{
	width: 450px;
	height: 300px;
	background-color: white;
	float: left;
	margin-top: 30px;
}
.slidersp{
	width: 450px;
	height: 300px;
	background-color: white;
}
.ctip2{
	width: 730px;
	height: 350px;
	background-color: white;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	font-size: 25px;
}
.ctip2-1{
	width: 330px;
	height: 350px;
	background-color: white;
	float: left;
	padding-left: 20px;
}
.ctip2-11{
	width: 330px;
	height: 100px;
	background-color: white;
	float: left;
	line-height: 35px;
}
.ctip2-12{
	width: 330px;
	height: 208px;
	background-color: white;
	float: left;
	padding-top: 42px;
}
.ctip2-2{
	width: 380px;
	height: 350px;
	background-color: white;
	float: left;
}
.ctip2-2 a{
	text-decoration: none;
}
.muangay{
	width: 375px;
	height: 45px;
	margin: 0 auto;
	background-color: orangered;
	font-size: 16px;
	padding-top: 5px;
	color: white;
	border: 1px solid orangered;
}
.muatragop{
	width: 375px;
	height: 45px;
	margin: 0 auto;
	background-color: #29a040;
	font-size: 16px;
	padding-top: 5px;
	color: white;
	border: 1px solid #29a040;
	margin-top: 7px;
}
.chitietsanpham{
	width: 1200px;
	height: 1250px;
	background-color: white;
	margin: 0 auto;
	margin-left: 20px;
	line-height: 28px;
	opacity: 0.8;
}










/* ------------------------------- Sản phẩm --------------------------------- */
#sanpham-mid{
	width: 1200px;
	height: 1970px;
	margin: 0 auto;
	background-color: white;






